* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
}

.background-image {
  width: 100%;
}

.background-image img {
  width: 100%;
  position: absolute;
  height: 120vh;
  z-index: -1;

  filter: brightness(0.75) contrast(1.2);
}
.header-btn {
  display: flex;
  justify-content: center;
  padding: 1.2rem 2.4rem;
  margin-top: 2.4rem;
  margin-right: 2.4rem;
  background-color: rgb(185, 5, 185);
  text-decoration: none;
  align-items: flex-end;
  width: 12.2rem;
  color: white;
  font-weight: 600;
  float: right;
  border-radius: 10px;
}

.logo-img {
  width: 50%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5.8rem;
}

.logo {
  max-width: 100%;
  width: fit-content;
}
form {
  width: 80%;
  margin: auto;
  padding: 3.2rem 2.4rem 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10.2rem;
}
.apod-date-input {
  border: 2px solid rgb(185, 5, 185);
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  font-weight: 600;
  padding: 1.2rem 2.4rem;
  transition: all 0.3s ease;
  width: 25.2rem;
  margin-right: 1.4rem;
}
.apod-search-btn {
  border: 0em;
  justify-content: center;
  padding: 1.2rem 2.4rem;
  margin-top: 2.4rem;
  margin-right: 2.4rem;
  background-color: rgb(185, 5, 185);
  text-decoration: none;
  align-items: flex-end;
  width: 12.2rem;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}
.detail-box {
  display: flex;
  justify-content: center;
  width: 85%;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 25px;
  padding: 1.2rem 1.4rem;
  margin-left: 5.5rem;
}
.detail-box .image-box {
  height: 100%;
  width: 30%;
}
.detail-box .image-box img {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}
.detail-box .detail-box-text {
  width: 70%;
}
.detail-box .detail-box-text .apod-title {
  font-size: 35px;
  font-weight: 600;
  color: rgb(185, 5, 185);
  padding: 0rem 1.4rem 1.2rem;
}
.detail-box-text p {
  font-weight: 600;
  padding: 0rem 1.4rem;
}

.meteors img {
  width: 50px;
  animation: meteors 7s linear infinite;
}
.meteors {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  z-index: -1;
  width: 100%;
  position: absolute;
  height: 100vh;
}
@keyframes meteors {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}
.meteors img:nth-child(1) {
  animation-delay: 1s;
  grid-column: 1/9;
}
.meteors img:nth-child(2) {
  animation-delay: 0.5s;
  grid-column: 3/9;
}
.meteors img:nth-child(3) {
  animation-delay: 4s;
  grid-column: 8/9;
}
.meteors img:nth-child(4) {
  animation-delay: 2.5s;
  grid-column: 6/9;
}
.meteors img:nth-child(5) {
  animation-delay: 3.5s;
  grid-column: 4/9;
}
.meteors img:nth-child(6) {
  animation-delay: 4.5s;
  grid-column: 2/9;
}
.meteors img:nth-child(7) {
  animation-delay: 3s;
  grid-column: 5/9;
}
.meteors img:nth-child(8) {
  animation-delay: 2s;
  grid-column: 7/9;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 90%;
  }
  .detail-box {
    flex-direction: column;
    margin-left: 4.5rem;
  }
  .apod-date-input {
    width: 23rem;
    align-items: center;
  }
  .apod-search-btn {
    align-items: center;
    width: 10rem;
  }
}

@media screen and (max-width: 769px) {
  html {
    font-size: 62.5%;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
  .input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .detail-box {
    margin-left: 3.5rem;
  }
}

@media screen and (max-width: 420px) {
  html {
    font-size: 33%;
  }

  .apod-title {
    font-size: 0.8rem;
  }
}
